@model CorporativeSale
<section>
    <div class="box">
        @Html.Raw(Model.Content)
    </div>
</section>
<style>
    body {
        background-color: #F2F2F2;
    }
    .box{
        padding:3rem 8rem;
    }
    .red{
        color:red;
    }
</style>