<link rel="stylesheet" href="~/assets/css/basket.css">
<style>
    .go-back {
        background-color: #383e42;
        width: 15%;
        color: #fff;
        border: none;
        text-align: center;
        padding: 7px 0px;
        border-radius: 5px;
        margin-top: 2rem;
        color: white !important;
    }
</style>
<section>
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-12 width-change-box mt-3 route">
                
            </div>
            <div class="col-sm-12 mt-2 width-change-box">
                <h4>Səbətim</h4>
            </div>
        </div>
        <div class="row mt-3" >
            <div class="col-sm-9">
                <div class="basket-list">
                    <div class="row" id="basket-container">
                        
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="total-price-box">
                    <span>Məhsullar</span>
                    <div class="total-price">
                        <span>Toplam qiymət:</span>
                        <span id="a"><span id="total-price">3099</span> <img src="~/assets/img/black_price_logo.svg" alt=""></span>
                    </div>
                    <div class="discount-price">
                        <span>Endirim:</span>
                        <span>99 <img src="~/assets/img/black_price_logo.svg" alt=""></span>
                    </div>
                    <div class="order-complate">
                        <div class="total-price">
                            <span>Ödəniləcək məbləğ:</span>
                            <span> <img src="~/assets/img/white_price_logo.svg" alt=""></span>
                        </div>
                        <a href="">Sifarişi tamamla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/assets/js/loading_basket_product_and_remove.js" ></script>
}


