<link rel="stylesheet" href="~/assets/css/basket.css">
<section>
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-12 width-change-box mt-3 route">
                <a href="home.html">Ana səhifə</a>
                <div></div>
                <a href="likes.html">Sevimlilər</a>
            </div>
            <div class="col-sm-12 mt-2 width-change-box">
                <h4>Səbətim</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-9">
                <div class="basket-list">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="basket-card">
                                <div class="card-image">
                                    <img src="~/assets/img/apple-14-pro-deep-purple-1-min.jpg" alt="">
                                </div>
                                <div class="product-info">
                                    <p>Samsung Galaxy A03s (A037) 64GB Black</p>
                                    <span>3099 <img src="~/assets/img/price_logo_green.svg" alt=""></span>
                                    <div class="offer">
                                        <div class="offer-box">
                                            <span>Faizsiz kredit</span>
                                        </div>
                                        <div class="product-detail">
                                            <div>
                                                <span>Rəng</span>
                                                <div class="color">

                                                </div>
                                            </div>
                                            <div>
                                                <span>Yaddaş</span>
                                                <span>128GB</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="close-box">
                                    <div class="close">
                                        <button>
                                            <img src="~/assets/img/x.svg" alt="">
                                        </button>
                                    </div>
                                    <div class="product-count">
                                        <button class="minus-btn">-</button>
                                        <div class="count">
                                            <span>1</span>
                                        </div>
                                        <button class="plus-btn">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="total-price-box">
                    <span>Məhsullar</span>
                    <div class="total-price">
                        <span>Toplam qiymət:</span>
                        <span id="a"><span id="total-price">3099</span> <img src="~/assets/img/black_price_logo.svg" alt=""></span>
                    </div>
                    <div class="discount-price">
                        <span>Endirim:</span>
                        <span>99 <img src="~/assets/img/black_price_logo.svg" alt=""></span>
                    </div>
                    <div class="order-complate">
                        <div class="total-price">
                            <span>Ödəniləcək məbləğ:</span>
                            <span> <img src="~/assets/img/white_price_logo.svg" alt=""></span>
                        </div>
                        <a href="">Sifarişi tamamla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>