<link rel="stylesheet" href="~/assets/css/likes.css">
<style>
    .go-back {
        background-color: #383e42;
        width: 15%;
        color: #fff;
        border: none;
        text-align: center;
        padding: 7px 0px;
        border-radius: 5px;
        margin-top: 2rem;
        color: white !important;
    }
</style>
<section>
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-12 width-change-box mt-3 route">
                <a href="home.html">Ana səhifə</a>
                <div></div>
                <a href="likes.html">Sevimlilər</a>
            </div>
            <div class="col-sm-12 mt-2 width-change-box">
                <h4>Sevimlilərim</h4>
               
            </div>
        </div>
        <div class="row mt-3 like-container">
         
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/assets/js/loading_like_product_and_remove.js"></script>
}
