<link rel="stylesheet" href="~/assets/css/company_details.css">
<link rel="stylesheet" href="~/assets/css/card_style.css">
<section class="my-3">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-sm-12 mt-2">
                        <div class="blog-image">
                            <img src="~/assets/img/blog/videomaker.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <h3>Yeni açılmış “Elmlər Akademiyası”</h3>
                        <p>Yeni açılmış “Elmlər Akademiyası” filialında, 21-28 fevral tarixlərində, seçilmiş məhsullara
                            İlkin ödənişsiz, FAİZSİZ və KOMİSSİYASIZ 18 ayadək kredit imkanını əldə ət!🎉 Üstəlik nağd
                            alışda endirim və hədiyyələr qazan🥳</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="company-product">
            <div class="container">
                <div class="row my-3">
                    <div class="col-sm-12 my-3">
                        <h5>Kampaniyaya aid məhsullar</h5>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="row ">
                            <div class="col-sm-3 mb-4">
                                <div class="product-card">
                                    <div class="product-image">
                                        <div class="d-flex justify-content-end heart-box">
                                            <img data-heart="1" src="~/assets/img/heart.svg" alt="">
                                        </div>
                                        <img src="~/assets/img/apple-14-pro-deep-purple-1-min.jpg" alt="">
                                    </div>
                                    <div class="product-color">

                                    </div>
                                    <div class="product-info">
                                        <span class="product-category">
                                            <img src="~/assets/img/circle.svg" alt="">
                                            Telefonlar və planşetlər
                                        </span>
                                        <span class="product-name">Apple Iphone 14 Pro Max</span>
                                    </div>
                                    <div class="product-price">
                                        <div class="cash">
                                            <span class="cash">3199</span>
                                            <img src="~/assets/img/valuta.svg" alt="">
                                        </div>
                                        <div class="credit">
                                            <span class="month">12 ay</span>
                                            <span class="payment">234.56<img src="~/assets/img/purpleValuta.svg"
                                                    alt=""></span>
                                        </div>

                                    </div>
                                    <div class="product-sale-basket">
                                        <button>İndi al</button>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="~/assets/img/sebet.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 mb-4">
                                <div class="product-card">
                                    <div class="product-image">
                                        <div class="d-flex justify-content-end heart-box">
                                            <img data-heart="1" src="~/assets/img/heart.svg" alt="">
                                        </div>
                                        <img src="~/assets/img/apple-14-pro-deep-purple-1-min.jpg" alt="">
                                    </div>
                                    <div class="product-color">

                                    </div>
                                    <div class="product-info">
                                        <span class="product-category">
                                            <img src="~/assets/img/circle.svg" alt="">
                                            Telefonlar və planşetlər
                                        </span>
                                        <span class="product-name">Apple Iphone 14 Pro Max</span>
                                    </div>
                                    <div class="product-price">
                                        <div class="cash">
                                            <span class="cash">3199</span>
                                            <img src="~/assets/img/valuta.svg" alt="">
                                        </div>
                                        <div class="credit">
                                            <span class="month">12 ay</span>
                                            <span class="payment">234.56<img src="~/assets/img/purpleValuta.svg"
                                                    alt=""></span>
                                        </div>

                                    </div>
                                    <div class="product-sale-basket">
                                        <button>İndi al</button>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="~/assets/img/sebet.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 mb-4">
                                <div class="product-card">
                                    <div class="product-image">
                                        <div class="d-flex justify-content-end heart-box">
                                            <img data-heart="1" src="~/assets/img/heart.svg" alt="">
                                        </div>
                                        <img src="~/assets/img/apple-14-pro-deep-purple-1-min.jpg" alt="">
                                    </div>
                                    <div class="product-color">

                                    </div>
                                    <div class="product-info">
                                        <span class="product-category">
                                            <img src="~/assets/img/circle.svg" alt="">
                                            Telefonlar və planşetlər
                                        </span>
                                        <span class="product-name">Apple Iphone 14 Pro Max</span>
                                    </div>
                                    <div class="product-price">
                                        <div class="cash">
                                            <span class="cash">3199</span>
                                            <img src="~/assets/img/valuta.svg" alt="">
                                        </div>
                                        <div class="credit">
                                            <span class="month">12 ay</span>
                                            <span class="payment">234.56<img src="~/assets/img/purpleValuta.svg"
                                                    alt=""></span>
                                        </div>

                                    </div>
                                    <div class="product-sale-basket">
                                        <button>İndi al</button>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="~/assets/img/sebet.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 mb-4">
                                <div class="product-card">
                                    <div class="product-image">
                                        <div class="d-flex justify-content-end heart-box">
                                            <img data-heart="1" src="~/assets/img/heart.svg" alt="">
                                        </div>
                                        <img src="~/assets/img/apple-14-pro-deep-purple-1-min.jpg" alt="">
                                    </div>
                                    <div class="product-color">

                                    </div>
                                    <div class="product-info">
                                        <span class="product-category">
                                            <img src="~/assets/img/circle.svg" alt="">
                                            Telefonlar və planşetlər
                                        </span>
                                        <span class="product-name">Apple Iphone 14 Pro Max</span>
                                    </div>
                                    <div class="product-price">
                                        <div class="cash">
                                            <span class="cash">3199</span>
                                            <img src="~/assets/img/valuta.svg" alt="">
                                        </div>
                                        <div class="credit">
                                            <span class="month">12 ay</span>
                                            <span class="payment">234.56<img src="~/assets/img/purpleValuta.svg"
                                                    alt=""></span>
                                        </div>

                                    </div>
                                    <div class="product-sale-basket">
                                        <button>İndi al</button>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="~/assets/img/sebet.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>