@model List<OfferCompany>
    <link rel="stylesheet" href="assets/css/company.css">


    <section class="my-3">
        <div class="container">
            <div class="row mb-3">
                <div class="-col-sm-12">
                    <h3>Kampaniyalar</h3>
                </div>
            </div>
            <div class="row">
                @if (Model is not null)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 mb-3">
                            <div class="company-card d-flex">
                                <div class="card-image">
                                    <img src="/AdminPanelProjectFolderNameImages/OfferCompanyImage/@item.ImageName" alt="">
                                </div>
                                <div class="company-info">
                                    <h5>@item.Title</h5>
                                    <p>
                                        @item.Text <span>...</span>
                                    </p>
                                    <div class="more-info-and-date">
                                        <time>Tarix: 21 - 28 Fevral</time>
                                        <a asp-controller="Campaign" asp-action="CampaignDetails" asp-route-id="@item.Id">Daha ətraflı</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </section>
