@model List<OfferCompany>
    <link rel="stylesheet" href="assets/css/company.css">


    <section class="my-3">
        <div class="container">
            <div class="row mb-3">
                <div class="-col-sm-12">
                    <h3>Kampaniyalar</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="company-card d-flex">
                        <div class="card-image">
                            <img src="assets/img/company/1x1 banner elmler kampaniya.jpg" alt="">
                        </div>
                        <div class="company-info">
                            <h5>Yeni açılmış “Elmlər Akademiyası”</h5>
                            <p>
                                Yeni açılmış “Elmlər Akademiyası” filialında, 21-28 fevral tarixlərində, seçilmiş
                                məhsullara İlkin ödənişsiz, FAİZSİZ və KOMİSSİYASIZ 18 ayadək kredit imkanını əldə
                                ət!🎉 Üstəlik <span>...</span>
                            </p>
                            <div class="more-info-and-date">
                                <time>Tarix: 21 - 28 Fevral</time>
                                <a href="campaign_details.html">Daha ətraflı</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="company-card d-flex">
                        <div class="card-image">
                            <img src="assets/img/company/1x1 banner elmler kampaniya.jpg" alt="">
                        </div>
                        <div class="company-info">
                            <h5>Yeni açılmış “Elmlər Akademiyası”</h5>
                            <p>
                                Yeni açılmış “Elmlər Akademiyası” filialında, 21-28 fevral tarixlərində, seçilmiş
                                məhsullara İlkin ödənişsiz, FAİZSİZ və KOMİSSİYASIZ 18 ayadək kredit imkanını əldə
                                ət!🎉 Üstəlik <span>...</span>
                            </p>
                            <div class="more-info-and-date">
                                <time>Tarix: 21 - 28 Fevral</time>
                                <a href="campaign_details.html">Daha ətraflı</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
